﻿@model ApiGDTVietnam.Models.NhanVienmodel
<table id="detail" border="1" style="width:100%;border-collapse:collapse;">
    <tbody>
        @*Phầm template của mẫu report*@

        <tr>
            <th>Tên</th>
            <th>Tuổi</th>
            <th>Gioi Tinh</th>
        </tr>

        @*Phầm data của report*@

        @{


            foreach (var _rows in Model.children)
            {
                <tr>
                    @{
                        

                        <td align="center" excel-colspan="" excel-rowspan="1" colspan="1" rowspan="1">
                            @_rows.Ten
                        </td>
                        <td align="center" excel-colspan="" excel-rowspan="1" colspan="1" rowspan="1">
                            @_rows.Tuoi
                        </td>
                        <td align="center" excel-colspan="" excel-rowspan="1" colspan="1" rowspan="1">
                            @_rows.GioiTinh
                        </td>
                        

                    }
                </tr>
            }
        }
    </tbody>
</table>