﻿@model ApiGDTVietnam.Models.NhanVienmodel
@using RazorEngine.Text;

<!DOCTYPE html>
<html>
<head>
</head>
<body>
    @*Phầm Header report*@
    @*  @{
            var reportData = Model.DuLieuBaoCao;
            var _colSpanExcel = Model.DownloadReportTemplateDTO.DL_ColumnIndexReports.Count;
            var Header = Model.Header;
            var Footer = Model.Footer;
        }
        @(new RawString(Header))*@
    @RenderPage("detail.cshtml")
    @*Phầm footer của mẫu report*@
    @*    @(new RawString(Footer))*@

</body>
</html>